[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-xml = "*"
djoser = "*"
bleach = "*"
djangorestframework-simplejwt = "==5.2.1"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.12"
